@font-face {
  font-family: 'Monarch';
  src: url('_Fonts/MONARCH_1.1.woff');
}

@font-face {
  font-family: 'Sporting';
  src: url('_Fonts/sporting_grotesque_normal.woff');
}

@font-face {
  font-family: 'Sporting-Gras';
  src: url('_Fonts/sporting_grotesque_gras.woff');
}

@font-face {
  font-family: 'Junicode';
  src: url('_Fonts/Junicode.woff');
}
